:root {
    --ColorA: #ec8a6f;
    --ColorB: #12538d;
    --ColorC: #60D2B6;
    --ColorD: #cccccc;
    --ColorE: #FFCE5C;
    --ColorI: #1F363D;
    --ColorW: #ffffff;
    --ColorG: #eeeeee;
    --ColorF: #333333;
    --ColorH: #000000;
    
}


body {
    background-color: var(--ColorW); /* Use the gray color of your choice */
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    height: 90%;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}


nav {
    background-color: var(--ColorW);
    color: var(--ColorH);
    border-bottom: 1px solid var(--ColorH);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    height: 70px;
    width: 80%;
    z-index: 1;
}
nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    margin: 20px;
    display: inline;
}
nav a {
    color: var(--ColorH);
    text-decoration: none;
}
nav a:hover {
    border-bottom: 2px solid var(--ColorH);
}
nav b {
    font-size: 30px;
    font-weight: 100;
}
.navbargap {
    margin: 30px;
}


.heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 240px;
    font-weight: 800;
    color: #f6f6f6;
    font-weight: ;
    text-align: center;
    z-index: -1;
    transform: ;
    justify-content: center;
}



.about {
    min-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutimg {
    display: flex;
    flex: 1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 5%;
    box-shadow: 
    40px 36px 0px -10px white, /* White border */
    40px 36px 0px -9px black;
}
.aboutimg img {
  width: 100%; /* Make the image fill the div */
  height: auto; /* Maintain aspect ratio */

}
.aboutdes {
    display: flex;
    flex-direction: column;
    flex: 2;
    text-align: left;
    justify-content: left;
    padding: 10%;

}
.aboutdes1 {
    display: flex;
    flex: 2;
    margin-bottom: 5%;
    font-size: 45px;
    font-weight: 100;
    font-style: italic;
    text-align: left;
    justify-content: left;
}
.aboutdes2 {
    display: flex;
    flex: 2;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-style: italic;
}
.aboutdes3 {
    display: flex;
    flex: 2;
    margin-top: 5%;
    font-style: italic;
    justify-content: left;
    text-align: left;
}


hr {
  border: 0; /* Remove the default border */
  height: 1px; /* Set the height of the line */
  background-color: #000; /* Set the color of the line */
  margin: 20px auto; /* Set margin (adjust as needed) */
  width: 50%;
}


.project {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}
.project1 {
    display: flex;
    min-height: 70vh;
    min-width: 70vh;
    align-items: center;
    justify-content: center;
}
.project11 {
  display: flex;
  height: 70vh;
  width: 90vh;
  margin: 5%;
  align-items: center;
  justify-content: center;
}
.project2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.project21 {
  display: flex;
  height: 35vh;
  width: 35vh;
  margin: 5%;
  align-items: center;
  justify-content: center;
}
.projectcard {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  border: 2px solid black;
  position: relative; /* Added */
}
.project1 .projectcard {
  background-image: url("assets/bank2.png");
}

.project21:nth-child(1) .projectcard {
  background-image: url("assets/foot2.png");
}

.project21:nth-child(2) .projectcard {
  background-image: url("assets/eco2.png");
}
.projectcard1 {
  padding-left: 8%;
  padding-right: 4%;
  width: 88%;
  height: 100%;
  font-size: 18px;
  display: flex;
  text-align: left;
  justify-content: flex-start; /* Align content to the left */
  align-items: flex-end;
  flex: 1;
}
.projectcard2 {
  padding-left: 8%;
  padding-top: 5%;
  padding-right: 4%;
  width: 88%;
  font-style: italic;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  flex: 1;
}
.projectcard:hover {
  transform: scale(1.05); /* Increase size by 20% */
  transition: transform 0.5s ease;
}
.projectcard:link, .projectcard:visited {
  color: inherit; /* Use the default color */
  text-decoration: none; /* Remove underline */
}
.projectcard:hover {
  color: inherit; /* Use the default color on hover */
  text-decoration: none; /* Remove underline on hover */
}


.career {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    padding-right: 0%;
    padding-left: 0%;
    flex-direction: column;
}
.careerbox{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
.careericon{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.careerbox:nth-child(1) .careericon {
    background-image: url("assets/work2.png");
}
.careerbox:nth-child(2) .careericon {
    background-image: url("assets/work1.png");
}
.careerbox:nth-child(3) .careericon {
    background-image: url("assets/educ.png");
}
.careerdes{
    flex: 3;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 100;
}
.careerdes1{
    display: flex;
    justify-content: flex-start; 
    text-align: left;
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
}
.careerdes2{
    display: flex;
    justify-content: flex-start; 
    text-align: left;
    font-size: 16px;
}
.careerdes3{
    display: flex;
    padding-top: 2%;
    justify-content: flex-start; 
    text-align: left;
    font-style: italic;
    font-size: 13px;
}
.careeryear{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    font-style: italic;
    align-items: flex-end;
}



.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    padding-right: 0%;
    padding-left: 0%;

}
.contact1 {
    flex: 1;
    position: relative;
}
.contactname {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: 800;
    color: var(--ColorD);
}
.icon-link {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.icon-link i {
    display: block;
    text-decoration: none;
    color: var(--ColorF); /* Adjust the color as needed */
    background-color: white;
    border: 4px solid white;
    border-radius: 4px;
    font-size: 44px; /* Adjust the font size as needed */
    transition: transform 0.5s ease;
}
.icon-link i:hover {
    transform: scale(1.05); /* Increase size by 20% */
    transition: transform 0.5s ease;
}
