.line {
    width: 100%;
    height: 0.5px;
    background-color: black;
    transition: width 2s ease-in-out;
}

@font-face {
  font-family: 'Arsenica';
  src: url('/fonts/ArsenicaTrial-Bold.ttf') format('truetype');
  font-weight: bold;
}

html {
    scroll-behavior: smooth;
}