body {
  background-color: rgb(224, 224, 224); /* Blue color */
  color: rgb(0, 33, 115);
  margin: 0;
  padding: 0;
  font-family: "Garamond", SERIF;
}

header {
  background-color:  rgb(0, 33, 115); /* Blue color */
  color: rgb(224, 224, 224);
  position: fixed;
  top: 0;
  margin-left: 20%;
  width: 60%;
  height: 4vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  z-index: 1;
  box-shadow:  5px 5px 50px #222222,
              -5px -5px 50px #222222;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: larger;
}

.first-section {
  width: 100%;
  height: calc(100vh); /* Adjust for the header height */
  display: flex;
}

.s1LeftPart {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  background-color:  rgb(0, 33, 115);
  color: rgb(224, 224, 224);
}

.s1LeftPart::after {
  content: "";
  position: absolute;
  justify-content: left;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("assets/liecesterWin.jpg");
  -webkit-mask:radial-gradient(circle at 70% 80%,  black 5%, transparent 35% );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; /* Adjust opacity as needed */
  z-index: -1;
}

.s1-text-container {
  text-align: left;
  text-justify: inter-word;
  margin-left: 5vw;
  margin-right: 40vw;
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
}

.s1-text-container::first-letter { font-size: 200%; }

.s1-thead-container { 
  color: RGB(253,190,17);
  font-size: 120%; 
  width: fit-content;
  word-wrap: nowrap;
  border-right: .10em solid RGB(253,190,17); 
  animation:
    blink-caret .75s step-end infinite;
}


/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: RGB(253,190,17); }
}




.second-section {
  width: 100%;
  height: calc(110vh);
  display: flex;
  }





.s2left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  margin-left: 20px;
  overflow: hidden;
}

.s2leftheading {
  position: absolute;
  top: 5%;
  height: 10%;
  font-size: xx-large;
}



.s2chart {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 152%; /* Set the width to 120% to make it 20% wider than parent */
  height: 95%;
}

.s2center{
  flex:  0.001;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 230%;
  z-index: 0;
  margin-left: 5px;
  margin-top: 5%;
}


.s2right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}


.s2CenterPart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 8vh;
  padding-bottom: 5vh;
  z-index: 0;
}


.s2-text-container {
  text-align: justify;
  text-justify: inter-word;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: x-large;
  font-weight: 500;
}




.s2_5 {
  width: 100%;

  justify-content: center;
  align-items: center;
  height: calc(70vh); 
  position: relative;
  z-index: 0;
  background-color:  rgb(0, 33, 115);
  color: rgb(224, 224, 224);
}

.s2_5::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: "assets/logo.jpg";
  -webkit-mask:radial-gradient(circle at 50% 50%,  black 35%, transparent 95% );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; /* Adjust opacity as needed */
  z-index: -1;
}




.s2_5header {
  text-align: justify;
  text-justify: inter-word;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  font-size: xx-large;
  font-weight: 600;
  color: RGB(253,190,17);
}

.s2_5body {
  display: flex;
  height: 60%;
  justify-content: center;
  align-items: center;
}


.arrow-container {
  position: relative;
  display: inline-block;
}

.arrow {
  position: relative;
  width: 80vw;
  height: 0;
  border-top: 5px solid white;
}

.dots {
  position: absolute;
  width: 100%;
  top: -5px;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  transition: all .6s ease;
}

.dot:nth-child(6) {
  border-radius: 0%;
  background-color: transparent;
  margin-top: -13px;
  margin-right: -5px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
}

.dot::before {
  content: attr(data-label); /* Use the "data-label" attribute as the text content */
  position: relative;
  white-space: nowrap;
  top: -200%; /* Position the text vertically in the middle */
  left: -200%; /* Position the text horizontally in the middle */
  transition: all .6s ease;
}

.dot:hover {
  background-color: RGB(253,190,17);
  border-radius: 10%;
  transition: all .6s ease;
}

.dot:hover:nth-child(6) {
  background-color: transparent;
  border-left: 20px solid RGB(253,190,17);
  border-radius: 10%;
}

.dot:hover::before {
  top: -300%; /* Position the text vertically in the middle */
  transition: all .6s ease;
}


.s2_5-thead-container { 
  display: flex;
  height: 25%;
  width: 60%;
  margin-left: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: RGBA(253,190,17,1);
  background-color: rgb(0, 33, 115);
  font-size: 120%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 0 1px RGB(0, 33, 115), 0 0 0 2px RGB(253,190,17), 0 0 0 6px rgb(0, 33, 115), 0 0 0 8px RGB(253,190,17);
  outline: 2px solid rgb(0, 33, 115);
   /*
  border-right: .10em solid RGB(253,190,17); 
  animation:
    blink-caret .75s step-end infinite;*/
}



.third-section {
  width: 100%;
  height: calc(185vh); /* Adjust for the header height */
}

.s3CenterPart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 10vh;
  margin-bottom: 5vh;
  z-index: 0;
}


.s3-text-container {
  text-align: center;
  text-justify: inter-word;
  margin-left: 20vw;
  margin-right: 20vw;
  font-size: xx-large;
  font-weight: 500;
}

.s3pa {
  width: 90%;
  height: 50vh;
  margin-left: 5vw;
  display: flex;
}

.s3paleft {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.s3paleft::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("assets/epl.png");
  -webkit-mask:radial-gradient(circle at 50% 50%,  black 5%, transparent 45% );
  background-size:  200%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; /* Adjust opacity as needed */
  z-index: -1;
}

.s3pachart {
  width: 90%; 
  height: 100%;
  padding: 10px;
  border-radius: 14px;
  box-shadow:  11px 11px 22px #bebebe,
              -11px -11px 22px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center; /* Yellow color */
}

.s3button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.s3circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  box-shadow:  11px 11px 22px #bebebe,
              -11px -11px 22px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: RGB(0, 33, 115);
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

.s3circle.selected {
  box-shadow:  11px 11px 15px #bebebe inset,
              -1px -1px 2px #ffffff inset;
}

.s3paright {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}


.s3patext {
  text-align: justify;
  text-justify: inter-word;
  margin-left: 100px;
  margin-right: 100px;
  font-size: large;
}







.s4 {
  width: 100%;
  height: calc(100vh - 90px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.s4::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("assets/vardy.png");
  background-repeat: no-repeat;
  background-size:40%;
  background-position: bottom;
  opacity: 0.7;
  z-index: -1;
}

.s4CenterPart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 3vh;
  z-index: 0;
}


.s4-text-container {
  text-align: justify;
  text-justify: inter-word;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 3vh;
  font-size: xx-large;
  font-weight: 500;
}

.s4journey {
  height: 90%;
  width: 95%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.0); /* Yellow color */
}


.semi-circle {
  width: 90%;
  height: 95%;
  background-color: transparent;
  border: 2px solid rgb(0, 33, 115);
  border-radius: 50% / 100% 100% 0 0;
  border-bottom: none;
  border-left: none;
  border-right: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point {
  border-radius: 50%;
  position: absolute;
  bottom: 0px;

  width: 5px;
  height: 5px;
  padding: 4px;
  border-radius: 14px;
  font-size: 12px;
  background-color:  rgb(0, 33, 115);
  transform-origin: center bottom;
  transition: background-color 0.3s;
  transform: translate(-50%, -50%);
  cursor: pointer;
}



.point:nth-child(6) {
  top: 61.732%;  left: 96.194%;
}
.point:nth-child(5) {
  top: 29.289%;  left: 85.355%;
}

.point:nth-child(4) {
  top: 7.612%;  left: 69.134%;
}

.point:nth-child(3) {
  top: 7.612%;  left: 30.865%;
}

.point:nth-child(2) {
  top: 29.289%;  left: 14.644%;
}

.point:nth-child(1) {
  top: 61.732%;  left: 3.806%;
}

.point:hover {
  background-color: RGB(253,190,17);
}



.point::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -5.5vh;
  transform: translateX(-50%);
  padding: 4px;
  color: rgb(0, 33, 115);
  width: 30px;
  border-radius: 14px;
  font-size: 12px;
  opacity: 1;
  pointer-events: none;
  transition: all .6s ease;
}

.point:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  padding: 4px;
  border-radius: 14px;
  background: #e0e0e0;
  box-shadow:  11px 11px 22px #bebebe,
              -11px -11px 22px #ffffff;
  transition: all .6s ease;
}


.s4-thead-container { 
  display: flex;
  height: 15%;
  width: 60%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: RGB(0, 33, 115);
  background-color: rgb(224, 224, 224);
  font-size: 120%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgb(224, 224, 224), 0 0 0 2px RGB(0, 33, 115), 0 0 0 6px rgb(224, 224, 224), 0 0 0 8px RGB(0, 33, 115);
  outline: 2px solid rgb(224, 224, 224);
   /*
  border-right: .10em solid RGB(253,190,17); 
  animation:
    blink-caret .75s step-end infinite;*/
}


.s5 {
  width: 100%;
  height: calc(185vh); /* Adjust for the header height */
  background-color: RGB(0, 33, 115);
  color: rgb(224, 224, 224);
}

.s5CenterPart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 5vh;
  margin-bottom: 5vh;
  z-index: 0;
}


.s5-text-container {
  text-align: center;
  text-justify: inter-word;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: xx-large;
  font-weight: 500;
}


.s5container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5%;
  height: 40%;
  width: 90%;
  color: rgb(224, 224, 224);
  background-color: RGB(0, 33, 115);
  z-index: 0;
  flex-direction: column;
}

.s5chart-desc {
  height: 10%;
  width: 80%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.s5-chart {
  height: 80%;
  width: 90%;
  display: flex;

  justify-content: center;
  align-items: center; 
}





.s6 {
  width: 100%;
  height: calc(85vh); /* Adjust for the header height */
  background-color: rgb(224, 224, 224);
  color:  RGB(0, 33, 115);
}

.s6CenterPart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 5vh;
  margin-bottom: 5vh;
  z-index: 0;
}


.s6-head {
  text-align: center;
  text-justify: inter-word;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: xx-large;
  font-weight: 500;
  height: 20%;
}

.s6-body {
  height: 60%;
  display: flex;
  text-align: center;
  justify-content: center;
  text-justify: inter-word;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: xx-large;
  font-weight: 500;
  margin-bottom: 20%;
}







