:root {
    --ColorA: #ec8a6f;
    --ColorB: #12538d;
    --ColorC: #60D2B6;
    --ColorD: #aaaaaa;
    --ColorE: #FFCE5C;
    --ColorBackground: #1F363D;
    --ColorW: #ffffff;
    --ColorText: #eeeeee;
    --ColorF: #666666;
    
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ColorBackground);
    font-family: 'Arial', sans-serif;
}

.centered-text {
    text-align: center;
    color: var(--ColorText);
}

h1 {
    font-size: 3em;
}
