@font-face {
  font-family: 'Arsenica';
  src: local('Arsenica'),
       url('/fonts/ArsenicaTrial-Bold.ttf') format('truetype'),;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #fdfbf5;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1{
  font-family: 'Arsenica', sans-serif;
}